:root {
    --brand-color: #DE4141;
    --dark-color: #021835;
    --text-color: #333;
    // --light-color: #ffffff;
    --font-family: 'Poppins', sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --content-size: 1.5rem;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --heading-margin: 0 0 20px 0
}

@import "base/master";
@import 'icons';
